<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>error - shorty</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="header" style="padding-bottom: 1rem">
      <h1>shorty,</h1>
      <p>the <a href="https://github.com/webdevsint/shorty" target="_blank">open-source</a> url shortener</p>
    </div>

    <div class="container">
      <div class="error"><span>error,</span> short not found!</div>
      <a href="/" style="color: black">- try making one</a>
    </div>

    <div class="footer">
      <center>
        <p>
          developed by
          <a href="https://instagram.com/nehan_yaser/" target="_blank">nehan yaser</a>
        </p>
      </center>
    </div>
  </body>
</html>
